
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

  .cube {

    background: red;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10px;
  }

  .cards{

    position: absolute;
  }

  .table-wrapper{

    padding-top: 60px;
  }

  #calendar-container{

    position: relative;
    overflow: hidden;
  }

  #calendar-container * {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  .controls-container{

    position: relative;
  }

  .card-left-btn {

    background: pink;
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    cursor: col-resize;
  }

  .card-right-btn {

    background: orange;
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0px;
    cursor: col-resize;
  }

  .controls {

    text-align: center;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0);
    z-index: 99;
    white-space: nowrap;
  }

  .modal-row {

  }

  .modal-row ul {

    list-style: none;
    max-height: 300px;
    overflow: auto;
    padding: 0;
  }

  .date{

    display: inline;
    padding: 0 10px;
  }