
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  height: 4px;
  background-color: darkslategray;
}

::-webkit-scrollbar-thumb{
  background-color: orchid;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

  .cube {

    background: red;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10px;
  }

  .card-modal{
    min-height: 350px;
    border-radius: 5px;
  }

  .pendiente{
    background-color:#e7305b;
  }
  .hospedado{
    background-color: #0779e4;
  }
  .salida{
    background-color: #26c926;
  }

  .cards{
    position: absolute;
  }

  .info-card{
    overflow: auto;
  }

  .table-wrapper{

    padding-top: 60px;
  }

  #calendar-container{

    position: relative;
    overflow: hidden;
  }

  #calendar-container * {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  .controls-container{

    position: relative;
  }

  .card-left-btn {

    background: pink;
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    cursor: col-resize;
  }

  .card-right-btn {

    background: orange;
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0px;
    cursor: col-resize;
  }

  .controls {

    text-align: center;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0);
    z-index: 99;
    white-space: nowrap;
  }

  // .blockUI {
  //   display:none !important;
  // }

  // .blockMsg {
  //   display: none !important;
  // }

  .card{
    height: 150px;
    background-color: red;
  }

  .screen{
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    z-index: 300;
    background-color: gray;
    height: 60%;
    width: 100%;
    // cursor: wait;
    opacity: 0.5;
  }

  .hide{
    display: none;
  }

  .message{
    display: inline-block;
    position: fixed;
    margin-top: 10%;
    margin-left: 40%;
    z-index: 302;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
  }

  .modal-row ul {

    list-style: none;
    max-height: 400px;
    overflow: auto;
    padding: 0;
  }

  .hover{
    padding-left: 10px;
    padding-right: 10px;
  }

  .hover:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
  }

  // .float-right{
  //   float: right;
  // }


  .mt-5{
    margin-top: 2px;
  }

  .modal-size{
    width: 70%;
  }

  .selected{
    background-color: #585858;
    color: white;
  }

  .date{

    display: inline;
    padding: 0 10px;
  }