{% extends "::base.html.twig" %}
{% form_theme form 'theme/themeForm.html.twig' %}

{% block title %}Editar persona{% endblock %}

{% block body %}

<div class="col-md-4 col-md-offset-4">
	<div class="white-box">
		{{form_start(form)}}
		{{form_widget(form)}} <br>
		<button class="btn btn-success">Guardar</button> <a class="btn btn-danger" href="/{{info}}/edit">Cancelar</a>
		{{form_end(form)}}
		<hr>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script>
$('.myTabla').DataTable();
</script>

{% endblock %}
