{% extends "::base.html.twig" %}


{% block body %}
<a class="btn btn-info" href="/faqs">Atras</a>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="white-box">
      <div class="panel-body">
        <h1 class="font-bold text-center">Nueva FAQ</h1><br>
        {{form_start(form)}}
        {{form_row(form.pregunta)}}
        <br>
        {{form_row(form.respuesta)}}
        <br>
        <button class="btn btn-info waves-effect waves-light">Crear</button>
        {{form_end(form)}}
      </div>
    </div>
  </div>
</div>
{% endblock %}