{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="white-box">
			<h1 class="font-bold">Nueva Caja</h1>
			<form method="post">
				<label for="">Nro</label>
				<input type="text" required name="nro" class="form-control">
				<label for="">Responsable</label>
				<input type="text" required name="responsable" class="form-control">
				<label for="">Email de caja</label>
				<input type="text" required name="emailCaja" class="form-control">
				<label for="">Encargado</label>
				<input type="text" required name="encargado" class="form-control">
				<label for="">Email del encargado</label>
				<input type="text" required name="emailEncargado" class="form-control">
				<label for="">Grupo</label>
				<select class="form-control" name="grupo" id="">
					{% for grupo in grupos %}
					<option value="{{grupo.id}}">{{grupo.nombre}}</option>
					{% endfor %}
				</select>
				<br>
				<button class="btn btn-success">Guardar</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}